
body { width: 100%;}

.imageGallery-background {
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.imageGallery-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    z-index: 110;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.imageGallery-img {
    cursor: pointer;
    max-width: 100%;
    z-index: 120;
    position: relative;
    line-height: 0;
}

.imageGallery-figcaption {
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: rgba(255,255,255,0.65);
    z-index: 150;
    padding: 5px;
    color: #333333;
    font-style: italic;
    width: calc(100% - 10px);
    text-align: center;
}

.imageGallery-arrow {
    width: 32px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    z-index: 130;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.imageGallery-arrow-left {
    left: 0;
    padding-left: 12px;
}

.imageGallery-arrow-left span {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.imageGallery-arrow-right {
    right: 0;
    padding-right: 12px;
}

.imageGallery-arrow-right span{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.imageGallery-arrow span {
    border-width: 0 7px 7px 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.75);
    width: 16px;
    height: 16px;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;    
    z-index: 140;
    width: 38px;
    height: 29px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 8px;
}
.button-close * {
    border-width: 0 2px 2px 0;
    border-color: rgba(255,0,0,0.75);
    border-style: solid;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 2px;
}
.button-close-right {
    transform: rotate(135deg);
}

.button-close-left {
    transform: rotate(-45deg);
}
